<form>
    <label for="name">Exercise name:</label>
    <input type="text" name="name" id="name"> <br>
    <label for="reps">Reps:</label>
    <input type="number" name="reps" id="reps"><br>
    <label for="weight">Weight:</label>
    <input type="number" name="weight" id="weight"><br>
    <input type="radio" name="lbs" value = "1" id = "lbs" checked> lbs
    <input type="radio" name="lbs" value="0" id = "lbs"> kg<br>
    <label for="date">Date:</label>
    <input type="date" name="date" id="date"><br>
    <input type="submit" id="Add workout" value="Add workout">
</form>
<br>
<table id="workouts"></table>
<script src="/content.js"></script>